/*  your css code here. If applicable */
 .hero{
            display: flex;
            justify-content:center;
            align-items: center;
            height: 100vh;
        }
        .hero img{
          width: 50%;
          height: 50%;
          object-fit: cover;
        }
        .hero-container{
          padding: 10px;
          text-align: center;  
        }
        .btn{
            background-color: red;
            color:white;
            font-size: 20px;
            text-decoration: none;
            border-radius: 5px;
        }